.App {
  text-align: center;
}

.main {
  padding-top: 10vh;
  /* margin-top: -20vh; */
  height: 80vh;
  background-image: url(https://image.freepik.com/free-photo/swimming-pool-crystalline-water-texture_23-2148327858.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 60vw;
  background-color: rgba(5, 0, 0, 0.5);
  margin-bottom: 0;
}

.cup {
  width: 25vw;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.fill {
  height: 5vh;
}

.blue {
  background-color: blue;
}

.space {
  height: 2vh;
}
